[submodule "src/third_party/libcxxabi/exported"]
	path = src/third_party/libcxxabi/exported
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "src/third_party/libcxx/exported"]
	path = src/third_party/libcxx/exported
	url = https://github.com/llvm-mirror/libcxx.git
[submodule "src/third_party/libunwind/exported"]
	path = src/third_party/libunwind/exported
	url = https://github.com/abyss7/libunwind.git
[submodule "src/third_party/snappy/exported"]
	path = src/third_party/snappy/exported
	url = https://github.com/google/snappy.git
[submodule "src/third_party/gperftools/exported"]
	path = src/third_party/gperftools/exported
	url = https://code.google.com/p/gperftools
[submodule "src/third_party/leveldb/exported"]
	path = src/third_party/leveldb/exported
	url = https://github.com/google/leveldb.git
[submodule "src/third_party/protobuf/exported"]
	path = src/third_party/protobuf/exported
	url = https://github.com/abyss7/protobuf.git
[submodule "src/third_party/gflags/exported"]
	path = src/third_party/gflags/exported
	url = https://github.com/gflags/gflags.git
