[submodule "src/third_party/libcxxabi/exported"]
	path = src/third_party/libcxxabi/exported
	url = https://llvm.googlesource.com/libcxxabi
[submodule "src/third_party/libcxx/exported"]
	path = src/third_party/libcxx/exported
	url = https://github.com/abyss7/libcxx.git
[submodule "src/third_party/libunwind/exported"]
	path = src/third_party/libunwind/exported
	url = https://github.com/abyss7/libunwind.git
[submodule "src/third_party/tclap/exported"]
	path = src/third_party/tclap/exported
	url = git://git.code.sf.net/p/tclap/code
[submodule "src/third_party/snappy/exported"]
	path = src/third_party/snappy/exported
	url = https://github.com/google/snappy.git
[submodule "src/third_party/gperftools/exported"]
	path = src/third_party/gperftools/exported
	url = https://code.google.com/r/abyss7-gperftools
